// Подключаем тему (green).
@import "./theme/green/import";


// Свой css
div,
header,
main,
ul,
li,
section,
footer {
    /*border: $border-red;
    & > * {
        border: $border-green;
        & > * {
            border: $border-blue;
            & > * {
                border: $border-red;
            }
        }
    }*/
}

.head-wrapper {
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
    margin-bottom: 2rem;
}

/*.uk-accordion-title:after{
    background-image: url('../../bower_components/uikit/src/images/icons/chevron-down.svg');
}
.uk-open{
    .uk-accordion-title:after{
        background-image: url('../../bower_components/uikit/src/images/icons/chevron-up.svg');
    }
}*/

.uk-accordion-title::before {
    /*content: "";
    width: 1.4em;
    height: 1.4em;
    margin-left: 10px;
    float: right;*/
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='%23000' stroke-width='1.03' points='16 7 10 13 4 7'%3E%3C/polyline%3E%3C/svg%3E");
    /*background-repeat: no-repeat;
    background-position: 50% 50%;*/
}
.uk-open > .uk-accordion-title::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='%23000' stroke-width='1.03' points='4 13 10 7 16 13'%3E%3C/polyline%3E%3C/svg%3E");
}

.uk-radio {
    width: 25px;
    height: 25px;
    margin-right: 0.4rem;
}
.uk-radio:checked,
.uk-radio:focus,
.uk-radio:active,
.uk-radio::selection,
.uk-radio:visited {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.99993 14.8001L7.19993 12.0001L6.2666 12.9334L9.99993 16.6667L17.9999 8.66673L17.0666 7.7334L9.99993 14.8001Z' fill='%235CC97B'/%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='11.5' stroke='%235CC97B'/%3E%3C/svg%3E%0A");
    background-color: unset !important;
    width: 25px;
    height: 25px;
    border: 0;
}

.uk-checkbox,
.uk-checkbox:focus,
.uk-checkbox:active,
.uk-checkbox::selection,
.uk-checkbox:visited {
    width: 25px;
    height: 25px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='3.5' stroke='%23A8A8A8'/%3E%3C/svg%3E ");
    border-radius: 3px;
    background-color: unset !important;
    border: 0;
    margin-right: 0.4rem;
}
.uk-checkbox:checked {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.50004 15.5L6.00004 12L4.83337 13.1667L9.50004 17.8334L19.5 7.83335L18.3334 6.66669L9.50004 15.5Z' fill='%235CC97B'/%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='3.5' stroke='%235CC97B'/%3E%3C/svg%3E ");
    background-color: unset !important;
    width: 25px;
    height: 25px;
    border: 0;
}


.border-red {
    border: 1px red solid;
}
.border-blue {
    border: 1px blue solid;
}
.border-green {
    border: 1px green solid;
}